<div style="text-align:center">
  <h1>
    Contact Us
  </h1>
</div>
<app-user-form></app-user-form>

<br/>
<br/>

  <div class="shops-container">
    <div class="shop">
      <div class="hotel-image">
        <img src="https://st.depositphotos.com/1000386/3506/i/450/depositphotos_35063149-stock-photo-shelves-with-products.jpg" alt="Hotel Image">
      </div>
      <div class="hotel-info">
        <p><strong>Shop Name:</strong> Loha Shop</p>
        <p><strong>Location:</strong> Kuala Lumpur, Malaysia</p>
        <p><strong>Rating:</strong> ★★★★</p>
        <!-- Add more hotel data as needed -->
      </div>
    </div>
  
    <div class="shop">
      <div class="hotel-image">
        <img src="https://st2.depositphotos.com/1050070/6554/i/600/depositphotos_65544467-stock-photo-supermarket.jpg" alt="Hotel Image">
      </div>
      <!-- Add hotel info for the second shop here -->
      <div class="hotel-info">
        <p><strong>Shop Name:</strong> Halo Supermart</p>
        <p><strong>Location:</strong> Kuala Lumpur, Malaysia</p>
        <p><strong>Rating:</strong> ★★★★★</p>
        <!-- Add more hotel data as needed -->
      </div>
    </div>
  </div>